ONE_CROWDSALE_STARTDATE="Sep 1 2018 14:00:00"
ONE_CROWDSALE_ENDDATE  ="Sep 2 2018 14:00:00"
ONE_LOCKUP_ENDDATE     ="Sep 3 2018 14:00:00"

ONE_GROWTH_WALLET   =""
ONE_TEAM_WALLET     =""
ONE_ADVISOR_WALLET  =""
ONE_PARTNER_WALLET  =""
ONE_PRESALE_WALLET  =""
ONE_CROWDSALE_WALLET=""
ONE_WHITELIST_OWNER =""
