.AddressTag {
    &-link {
        display: inline-block;
    }
    &-container {
        margin-right: .75rem;
    }
    &-name,
    &-name-0x,
    &-name-dots {
        font-size: 13px;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: .04rem;
        line-height: 1rem;
        color: rgba(107,118,142,.6);
        margin-bottom: 0;
        padding-bottom: 0;
        text-overflow: clip;
        width: 40px;
        display: inline-flex;
        overflow: hidden;
        font-family: 'Inconsolata', 'Courier New';
        vertical-align: middle
    }
    &-name {
        width: auto;
    }
    &-wrapper {
        display: inline-block;
        background: rgba(240,244,255,0.5);
        // padding: .05rem .25rem;
        padding: .2rem .5rem;
        border-radius: 3px;
        line-height: 0;
        transition: .1s all ease-out;
    }
    &-name {
        // color: #6B768E;
        color: rgba(107,118,142,1)
    }
    &-name-dots {
        user-select: none;
    }
    &-name-dots, &-name-0x {
        width: auto;
    }
}

a.AddressTag-link .AddressTag-wrapper:hover, a.AddressTag-link-IPFS .AddressTag-wrapper:hover {
    background: rgba(240,243,255,1);
}

a.AddressTag-link-IPFS .AddressTag-wrapper {
    background:none;
}

.comments li.borderis.message a.AddressTag-link-IPFS .AddressTag-name, a.AddressTag-link-IPFS .AddressTag-name {
    width:auto;
}

.Page-permalink {
    font-size: .85rem;
    color: #969696;
}

.Page-permalink .AddressTag-wrapper {
    color: #1944a5;
    vertical-align: middle;
    margin: 0 0 0 .33rem;
}

.Page-permalink .AddressTag-name {
    color: #1944a5;
}